[tls.options]

[tls.options.modern]
minVersion = "VersionTLS13"

[tls.options.intermediate]
minVersion = "VersionTLS12"
cipherSuites = [
"TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384",
"TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384",
"TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256",
"TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256",
"TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305",
"TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305"
]

[http.middlewares]

[http.middlewares.httpsredirect]
[http.middlewares.httpsredirect.redirectScheme]
scheme = "https"

[http.middlewares.hsts]
[http.middlewares.hsts.headers]
stsSeconds = 63072000
forceSTSHeader = true
stsPreload = true
stsIncludeSubdomains = true

{% if fitem == 'nextcloud' %}
[http.middlewares.nextcloudregex]
[http.middlewares.nextcloudregex.redirectRegex]
permanent = true
regex = "https://(.*)/.well-known/(card|cal)dav"
replacement = "https://${1}/remote.php/dav/"

[http.middlewares.onlyofficehead]
[http.middlewares.onlyofficehead.headers]
accessControlAllowOrigin = "*"
[http.middlewares.onlyofficehead.headers.customrequestheaders]
X-Forwarded-Proto = "https"
{% endif %}

{% if fitem == 'multimedia' %}
[http.middlewares.jellyfinmw]
[http.middlewares.jellyfinmw.headers]
SSLHost = "{{ current_item.jellyfin.hostname }}"
SSLRedirect = true
STSSeconds = 315360000
STSIncludeSubdomains = true
STSPreload = true
forceSTSHeader = true
SSLForceHost = true
frameDeny = true
contentTypeNosniff = true
browserXSSFilter = true
customFrameOptionsValue = "allow-from https://{{ current_item.jellyfin.hostname }}"
[http.middlewares.jellyfinmw.headers.customrequestheaders]
X-Robots-Tag="noindex,nofollow,nosnippet,noarchive,notranslate,noimageindex"
{% endif %}