defautlEntryPoints = ["web","websecure"]

[entryPoints]
[entryPoints.web]
address = ":80"
[entryPoints.websecure]
address = ":443"

[certificatesResolvers]
[certificatesResolvers.letsencrypt]
[certificatesResolvers.letsencrypt.acme]
email = "{{ current_item.proxy.email_contact }}"
storage = "/etc/traefik/acme.json"
[certificatesResolvers.letsencrypt.acme.httpChallenge]
entryPoint = "web"

[providers.docker]
exposedbydefault = false
network = "{{ current_item.network }}"
constraints = "Label(`docker.network`, `{{ current_item.network }}`)"

[providers.file]
filename = "/etc/traefik/dynamic.toml"

[api]
dashboard = true

[log]
level = "INFO"
format = "json"

[accessLog]
format = "json"