# Samba configuration file for Debian GNU/Linux.
[global]
workgroup = WORKGROUP
server string = {{ current_item.samba.hostname }}
#### Debugging/Accounting ####
log file = /var/log/samba/log.%m
max log size = 1000
logging = file
panic action = /usr/share/samba/panic-action %d

####### Authentication #######
server role = standalone server
security = user
encrypt passwords = yes 
smb passwd file = /app/samba/smbpasswd

[share]
comment = Shared folder
path = /app/volume/share
read only = no
guest ok = no
browseable = yes
force directory mode = 0775 
force create mode = 0664 
valid users = {{ current_item.samba.users.keys() | join(', ') }}

{% for user in current_item.samba.users.keys() %}
[{{ user }}]
comment = {{ user }}'s personal folder
path = /app/volume/{{ user }}
read only = no
guest ok = no
browseable = yes
force directory mode = 0755
force create mode = 0644 
valid users = {{ user }}
{% endfor %}