## Dovecot configuration file

## Enable installed protocols
!include_try /usr/share/dovecot/protocols.d/*.protocol

## Dictionary server settings
dict {
  #quota = mysql:/etc/dovecot/dovecot-dict-sql.conf.ext
  #expire = sqlite:/etc/dovecot/dovecot-dict-sql.conf.ext
}

## All configuration
!include conf.d/*.conf