---
#cloud-config
autoinstall:
  version: 1
  keyboard:
    layout: fr
  identity:
    hostname: ubuntu-server
    password: "{{ features.infra.ubuntu.initial.password }}"
    username: {{ features.infra.ubuntu.initial.username }}
  ssh:
    install-server: true
    authorized-keys:
{% for sshkey in features.infra.ubuntu.initial.ssh_keys %}
      - "{{ sshkey }}"
{% endfor %}
  storage:
    grub:
      reorder_uefi: false
    config:
# disk
      - type: disk
        ptable: msdos
        id: disk-root
        grub_device: true
        preserve: false
        match:
          size: largest
          ssd: yes
# part / (ext4, 8 Go)
      - type: partition
        id: root-part
        device: disk-root
        size: 8G
        number: 1
        preserve: false
        wipe: superblock
      - type: format
        id: root-part-fs
        fstype: ext4
        volume: root-part
# part /var (ext4, 20 Go)
      - type: partition
        id: var-log-part
        device: disk-root
        size: 20G
        number: 2
        preserve: false
        wipe: superblock
      - type: format
        id: var-log-part-fs
        fstype: ext4
        volume: var-log-part
# part swap (swap, 16 Go)
      - type: partition
        id: swap-part
        device: disk-root
        size: 16G
        number: 3
        preserve: false
        wipe: superblock
      - type: format
        id: swap-part-fs
        fstype: swap
        volume: swap-part
# part /var/lib (ext4, -1)
      - type: partition
        id: var-lib-part
        device: disk-root
        size: -1
        number: 4
        preserve: false
        wipe: superblock
      - type: format
        id: var-lib-part-fs
        fstype: ext4
        volume: var-lib-part
# mount points
      - type: mount
        id: root-part-fs-mount
        path: /
        device: root-part-fs
      - type: mount
        id: var-log-part-fs-mount
        path: /var
        device: var-log-part-fs
      - type: mount
        id: var-lib-part-fs-mount
        path: /var/lib
        device: var-lib-part-fs
